# Ignore local dataset and result outputs
files/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment folders
.venv/
venv/
env/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
